// It's highly recommended to change the default colors
// to match your app's branding.


$card = #d5aca9
$page = #dfdebe
$section = #bdb6ac
$drop = #b3aac5
$valid = #c3c9b9
$txtNormal = #508CA4

:root
  --q-color-card $card
  --q-color-page  $page
  --q-color-section $section
  --q-color-drop  $drop
  --q-color-valid  $valid
  --q-color-txtNormal  $txtNormal

.bg-card
  background: $card !important
  background: var(--q-color-card) !important 

.bg-page 
  background: $page  !important
  background: var(--q-color-page ) !important

.bg-section 
  background: $section !important
  background: var(--q-color-section ) !important

.bg-drop  
  background: $drop !important
  background: var(--q-color-drop ) !important  

.bg-valid 
  background: $valid !important
  background: var(--q-color-valid ) !important  

.text-txtNormal
  color: $txtNormal !important
  color: var(--q-color-txtNormal) !important  

